<h2>Modificar noticia</h2>
<br>
<br>
<%= form_for :formulario, :url =>{:action => :update} do |form| %>
<div class="card col-lg-4">
    <div class="card-header">
        <%= form.label :encabezado %>
        <%= form.text_field :encabezado, :value => @noticia.encabezado  %>
    </div>
    <div class="card-body">
    <div>
        <%= form.label :cuerpo %>
        <%= form.text_area :cuerpo, :value => @noticia.cuerpo %>
    </div>
    <div>
        <%= form.label :tipo %>
        <%= form.number_field :tipo, :value => @noticia.tipo %>
    </div>
    </div>
    <div class="card-footer">
        <%= form.submit %>
    </div>
</div>
<% end %>