<h2>Añadir nueva noticia</h2>
<br>
<br>
<%= form_for :formulario, :url =>{:action => :create} do |form| %>
    <div>
        <%= form.label :encabezado %>
        <%= form.text_field :encabezado %>
    </div>
        <div>
        <%= form.label :cuerpo %>
        <%= form.text_area :cuerpo %>
    </div>
        <div>
        <%= form.label :tipo %>
        <%= form.number_field :tipo %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>